 <section id="home-section" class="hero js-fullheight">
    <div class="home-slider js-fullheight owl-carousel">
        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end"
                    data-scrollax-parent="true">
                    <div class="one-third order-md-last img js-fullheight"
                        style="background-image:url(assets/img/bg_1.jpg);">
                        <h3 class="vr" style="background-image: url(images/divider.jpg);">Strength</h3>
                    </div>
                    <div class="one-forth d-flex js-fullheight align-items-center ftco-animate"
                        data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <div class="lion">
                                <img src="assets/img/cub-training.gif" class="d-none d-lg-block" style="
                                position: absolute;
                                top: -35%;
                                left: 45%;
                                right: 0;
                                bottom: 0;
                                content: '';
                                width: 180px;
                                background: transparent;
                                height: auto;
                                z-index: -1;">
                            </div>
                            <h1 class="pt-0">Un <span>suivi sportif</span> pensé pour <span>vous!</span>
                            </h1>
                            <p>Laissez vous guider vers la meilleure version de vous-même...</p>

                            <p><a href="#" class="btn btn-primary px-5 py-3 mt-3">Je veux m'y mettre!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end"
                    data-scrollax-parent="true">
                    <div class="one-third order-md-last img js-fullheight"
                        style="background-image:url(assets/img/trainer-1.jpg);">
                        <h3 class="vr" style="background-image: url(images/divider.jpg);">Strength</h3>
                    </div>
                    <div class="one-forth d-flex js-fullheight align-items-center ftco-animate"
                        data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <div class="lion">
                                <img src="assets/img/cub-training.gif" class="d-none d-lg-block" style="
                                position: absolute;
                                top: -35%;
                                left: 45%;
                                right: 0;
                                bottom: 0;
                                content: '';
                                width: 180px;
                                background: transparent;
                                height: auto;
                                z-index: -1;">
                            </div>
                            <h1 class="pt-0">Pain is <span>Temporary</span> But Glory is
                                <span>Forever</span></h1>
                            <p>Une vision posturale sur chaque exercice afin de progresser tout en corrigeant
                                les déséquilibres
                                musculaires à la base de nombreux maux du quotidien. </p>

                            <p><a href="#" class="btn btn-primary px-5 py-3 mt-3">Je veux m'y mettre!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-services py-0">
    <div class="container-fluid container-md px-0 mx-md-auto px-md-auto">
        <div class="row no-gutters services-section">
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services text-center d-block">
                    <div class="icon"><span class="icon-coach"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Coaching personnel en salle</h3>
                        <p>Des entraînements complets et variés avec votre coach personnel qui s’inscrivent dans un
                            programme menant à l’objectif fixé.</p>
                        <!-- <p><a href="#" class="btn btn-primary">Read more</a></p> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services services-2 text-center d-block">
                    <div class="icon"><span class="icon-House"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Cours à domicile </h3>
                        <p> Votre coach vient dispenser des entraînements sur mesures dans le confort de votre salon,
                            adaptés à vos
                            besoins et vos possibilités (horaires, espace, matériel). </p>
                        <!-- <p><a href="#" class="btn btn-primary">Read more</a></p> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services text-center d-block">
                    <div class="icon"><span class="flaticon-diet"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Programmes alimentaires et sportifs</h3>
                        <p> Recevez des programmes sportifs et des conseils alimentaires personnalisés s’adaptant à votre rythme de vie. </p>
                        <!-- <p><a href="#" class="btn btn-primary">Read more</a></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-program bg-light py-0 mt-0" id="programs-section">
    <div class="container px-0 mx-md-auto px-md-auto">
        <div class="row no-gutters">
            <div class="col-md-4 ftco-animate py-5 nav-link-wrap js-fullheight ">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link px-4 active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab"
                        aria-controls="v-pills-1" aria-selected="true"><span class="mr-3 flaticon-woman"></span>Healthy Fitness Program</a>

                    <a class="nav-link px-4" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab"
                        aria-controls="v-pills-2" aria-selected="false"><span
                            class="mr-3 flaticon-body"></span>Correction Posturale</a>

                    <a class="nav-link px-4" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab"
                        aria-controls="v-pills-3" aria-selected="false"><span
                            class="mr-3 flaticon-gym"></span>Renforcement &amp; Prise de Masse</a>

                    <a class="nav-link px-4" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab"
                        aria-controls="v-pills-4" aria-selected="false"><span class="mr-3 flaticon-meditation"></span>Programme Anti-Stress</a>

                    <a class="nav-link px-4" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab"
                        aria-controls="v-pills-5" aria-selected="false"><span
                            class="mr-3 flaticon-abs"></span>Bikini and Body</a>

                    <a class="nav-link px-4" id="v-pills-6-tab" data-toggle="pill" href="#v-pills-6" role="tab"
                        aria-controls="v-pills-6" aria-selected="false"><span
                            class="mr-3 flaticon-running"></span>Endurance Training</a>

                   <a class="nav-link px-4" id="v-pills-7-tab" data-toggle="pill" href="#v-pills-7" role="tab"
                        aria-controls="v-pills-7" aria-selected="false"><span
                            class="mr-3 flaticon-scale"></span>Programmes perte de poids</a>
                </div>
            </div>
            <div class="col-md-8 ftco-animate p-4 p-md-5 d-flex align-items-center js-fullheight">

                <div class="tab-content pl-md-5" id="v-pills-tabContent">

                    <div class="tab-pane fade show active py-0" id="v-pills-1" role="tabpanel"
                        aria-labelledby="v-pills-1-tab">
                        <span class="icon mb-3 d-block flaticon-woman"></span>
                        <h2 class="mb-4">Healthy Fitness Program</h2>
                        <p>Des exercices complets et variés avec des charges modérées et un rythme soutenu
                            qui aura pour
                            but d’affiner votre silhouette. </p>
                        <p>Des séances dynamiques qui essaient de mettre l’accent sur le côté postural tout en gardant
                            l’idée de
                            dépense physique pour atteindre votre objectif ! </p>

                        <p><a href="#" class="btn btn-primary px-4 py-3">Je m'y mets !</a></p>
                    </div>

                    <div class="tab-pane fade py-0" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                        <span class="icon mb-3 d-block flaticon-body"></span>
                        <h2 class="mb-4">Correction Posturale</h2>
                        <p>Qu’il s’agisse de raideurs quotidiennes, de douleurs chroniques ou autres. Elles trouvent
                            bien souvent
                            leur racines dans les déséquilibres musculaires qui se sont créés
                            inconsciemment au
                            fil dans années. </p>
                        <p>Lors des séances j’ai à cœur d’inclure certains exercices qui auront pour but de corriger peu
                            à peu ces
                            déséquilibres afin de soulager vos douleurs quotidiennes et de rétablir une posture saine.
                        </p>
                        <p><a href="#" class="btn btn-primary px-4 py-3">Je m'y mets !</a></p>
                    </div>

                    <div class="tab-pane fade py-0" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
                        <span class="icon mb-3 d-block flaticon-gym"></span>
                        <h2 class="mb-4">Renforcement &amp; Prise de Masse</h2>
                        <p>Pour certains, prendre du volume est encore plus difficile que d’en perdre et pour cela
                            je
                            cible vos attentes et capacités lors de notre première séance. Pour un renforcement ou une
                            prise de masse
                            musculaire ciblée, les exercices seront alors plus spécifiques avec un accent sur la
                            technique, un rythme
                            et une charge adaptés. </p>
                        <p>Il sera sans doute aussi intéressant de prendre le temps d’adapter certains paramètres
                            alimentaires afin
                            de les faire correspondre aux séances d’entraînements. </p>
                        <p><a href="#" class="btn btn-primary px-4 py-3">Je m'y mets !</a></p>
                    </div>

                    <div class="tab-pane fade py-0" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">
                        <span class="icon mb-3 d-block flaticon-meditation"></span>
                        <h2 class="mb-4">Programme Anti-Stress</h2>
                        <p>Au cœur d’une semaine chargée il est parfois bon de s’offrir une capsule anti-stress avant
                            ou après
                            votre séance : quelques minutes qui vous reconnectent avec vous même et qui vous permettent
                            de faire
                            redescendre la pression. </p>
                        <p>Des auto massages, des exercices de respiration ou de gainage profond guidés par votre coach
                            personnel...
                            Autant de manières de soulager votre corps du stress accumulé. </p>
                        <p><a href="#" class="btn btn-primary px-4 py-3">Je m'y mets !</a></p>
                    </div>

                    <div class="tab-pane fade py-0" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-5-tab">
                        <span class="icon mb-3 d-block flaticon-abs"></span>
                        <h2 class="mb-4">Bikini &amp; Body</h2>
                        <p>Que l’été soit devant ou derrière nous, c’est avant tout pour soi et tout au long de l’année
                            que l’on
                            veut vivre dans un corps qui nous plaît.</p>
                        <p>Des séances avec une intensité d’entraînement plutôt élevée qui mettent l’efficacité et les
                            résultats au
                            cœur des débats tout en protégeant votre intégrité
                            physique.
                        </p>
                        <p>Être supervisé par un personnal trainer certifié c’est avoir l’assurance que vous vous
                            dirigez dans la
                            bonne direction sans prendre de risque pour votre santé. </p>
                        <p><a href="#" class="btn btn-primary px-4 py-3">Je m'y mets !</a></p>
                    </div>

                    <div class="tab-pane fade py-0" id="v-pills-6" role="tabpanel" aria-labelledby="v-pills-6-tab">
                        <span class="icon mb-3 d-block flaticon-running"></span>
                        <h2 class="mb-4">Endurance Training</h2>
                        <p>L’endurance nous concerne tous à des niveaux différents : certains veulent boucler un
                            triathlon quand
                            d’autres se satisferaient de ne plus se sentir essoufflé après 2 étages d’escaliers. Et pour
                            chacun il y ades techniques d’entraînement adaptées qui rentrent dans le cadre global de l’entraînement
                             cardiaque. </p>
                        <p>Établissons ensemble vos objectifs et le meilleur moyens de les atteindre ! </p>
                        <p><a href="#" class="btn btn-primary px-4 py-3">Je m'y mets !</a></p>
                      </div>

                        <div class="tab-pane fade py-0" id="v-pills-7" role="tabpanel" aria-labelledby="v-pills-6-tab">
                            <span class="icon mb-3 d-block flaticon-scale"></span>
                            <h2 class="mb-4">Programmes perte de poids</h2>
                            <p>Sans se focaliser sur les chiffres,retrouver l'équilbre idéal.</p>
                            <p><a href="#" class="btn btn-primary px-4 py-3">Je m'y mets !</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-services-2" id="services-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading"> Mon expertise, vos objectifs</span>
                <h2 class="mb-4">Trouver votre harmonie</h2>
                <p>Atteindre la version idéale de votre corps, ne pas viser celui des autres.</p>
            </div>
        </div>
        <div class="row px-0 mx-0">

            <div class="col-md d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services text-center d-block">
                    <div class="icon"><span class="icon-team"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Entraînements par petit groupe</h3>
                        <p>Par 2 ou 3 : diviser le prix, multiplier le plaisir de l’entraînement.</p>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services text-center d-block">
                    <div class="icon"><span class="flaticon-diet"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Conseils alimentaires: </h3>
                        <p>Une nutrition au service de l’entraînement et surtout de votre quotidien.</p>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services text-center d-block">
                    <div class="icon"><span class="flaticon-check-list"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Programmes d’entraînement individuel</h3>
                        <p>Pour la performance ou simplement pour le bien être, votre programme ne prend forme que selon
                            vos
                            objectifs personnels.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" style="background-color: #F8F9FA;"
    id="about-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 col-lg-5 d-flex">
                <div class="img d-flex align-self-stretch align-items-center"
                    style="background-image:url(assets/img/about.jpg);">
                </div>
            </div>
            <div class="col-md-6 col-lg-7 pl-lg-5 py-5">
                <div class="py-md-5">
                    <div class="row justify-content-start pb-3">
                        <div class="col-md-12 heading-section ftco-animate">
                            <span class="subheading">Quelques mots à propos de moi</span>
                            <p>Cub Training, find your roar. Si on veut en apprécier une traduction litérale, Cub
                                Training a pour
                                ambition de vous aider à trouver votre “rugissement” : entendez par là que la plupart
                                des personnes qui
                                contactent un personal trainer ont déjà,quelque part, la certitude ou au moins la
                                volonté de pouvoir se
                                developer mentalement et physiqement au delà de leur état de forme actuel. C’est vers
                                cet état de
                                “meilleure version de sois-même”, un état dans lequel vous seriez aptes à “rugir” comme
                                vous le devrier,
                                que Cub Training aspire à vous guider au mieux. </p>
                            <p>Se former, s’intéresser, partager chaque jour pour mieux vous guider …</p>
                            <p>Fort de plusieurs formations dans le domaine sportif qui m’ont amenées à être certifié
                                successivement
                                comme instructeur fitness puis comme personal trainer mais aussi formé à la méthode
                                d’entraînement
                                américaine NASM, j’ai cependant conscience que le savoir n’est pas figé et je profite de
                                chaque jour
                                pour continuer à me former et à échanger avec des professionnels du secteur
                                (kinésithérapeute,
                                préparateur physique,...).</p>
                            <p>Et parce que choisir un personal c’est avant tout créer un lien humain, il me tarde de
                                vous rencontrer
                                pour discuter de vos objectifs et trouver ensemble les moyens à mettre en œuvre pour les
                                atteindre au
                                mieux.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section ftco-no-pb" id="contact-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Contact</span>
                <h2 class="mb-4">Contactez-moi</h2>
                <p>Vous voulez vous y mettre n'hésitez plus contacter moi pour toutes questions ! </p>
            </div>
        </div>

        <div class="row block-9">
            <div class="col-md-7 order-md-last d-flex">
                <form action="#" class="bg-light p-4 p-md-5 contact-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name" [formControl]="nameFormControl">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Email" [formControl]="emailFormControl">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Subject" [formControl]="subjectFormControl">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control"
                            placeholder="Message" [formControl]="messageFormControl"></textarea>
                    </div>
                    <div class="form-group">
                        <input value="Send Message" (click)="register()" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
            </div>

            <div class="col-md-5 d-flex">
                <div class="row d-flex contact-info mb-5">
                    <div class="col-12">
                        <div class="col-md-12 ftco-animate bg-light">
                            <div class="box p-2 px-3 d-flex">
                                <div class="icon mr-3">
                                    <span class="icon-map-signs"></span>
                                </div>
                                <div>
                                    <h3 class="mb-3">Adresse</h3>
                                    <p>94, Chaussée de Bruxelles, 1410 Waterloo</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 ftco-animate bg-light">
                            <div class="box p-2 px-3 d-flex">
                                <div class="icon mr-3">
                                    <span class="icon-phone2"></span>
                                </div>
                                <div>
                                    <h3 class="mb-3">Numéro de téléphone</h3>
                                    <p><a href="tel://+32 471 87 40">+32 471 87 40 25</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 ftco-animate bg-light">
                            <div class="box p-2 px-3 bg-light d-flex">
                                <div class="icon mr-3">
                                    <span class="icon-paper-plane"></span>
                                </div>
                                <div>
                                    <h3 class="mb-3">Adresse e-mail</h3>
                                    <p><a href="mailto:benoit@cub-training.com">benoit@cub-training.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
